<div class="row">
    <div class="col s12 l4">
        <div class="card-panel">
            <h3 class="center-align">To do</h3>
            {{#each todos}}
            <ul class="collapsible popout">
                <li data-id="{{_id}}">
                    <div class="collapsible-header hoverable">
                        <i class="material-icons">chevron_right</i>{{title}}
                    </div>
                    <div class="collapsible-body">
                        <span>{{body}}</span><br>
                        <span>Created at: {{formatDate createdAt 'Do MMMM YYYY'}}</span><br>
                        <span>Status: {{status}}</span><br>
                        {{> _del_edit_btn}}
                    </div>
                </li>
            </ul>
            {{else}}
            <div class="card-panel">
                <p class="center-align">You don't have any to do!</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card-panel">
            <h3 class="center-align">Doing</h3>
            {{#each doing}}
            <ul class="collapsible popout">
                <li data-id="{{_id}}">
                    <div class="collapsible-header hoverable">
                        <i class="material-icons">chevron_right</i>{{title}}
                    </div>
                    <div class="collapsible-body">
                        <span>{{body}}</span><br>
                        <span>Created at: {{formatDate createdAt 'Do MMMM YYYY'}}</span><br>
                        <span>Status: {{status}}</span><br>
                        {{> _del_edit_btn}}
                    </div>
                </li>
            </ul>
            {{else}}
            <div class="card-panel">
                <p class="center-align">OMG! Do something!</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card-panel">
            <h3 class="center-align">Done</h3>
            {{#each done}}
            <ul class="collapsible popout">
                <li data-id="{{_id}}">
                    <div class="collapsible-header hoverable">
                        <i class="material-icons">chevron_right</i>{{title}}
                    </div>
                    <div class="collapsible-body">
                        <span>{{body}}</span><br>
                        <span>Created at: {{formatDate createdAt 'Do MMMM YYYY'}}</span><br>
                        <span>Status: {{status}}</span><br>
                        {{> _del_edit_btn}}
                    </div>
                </li>
            </ul>
            {{else}}
            <div class="card-panel">
                <p class="center-align">OMG! Nothing done?! Shame on you!</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{> _add_btn}}